body,html, .container-fluid{
 
    height: 100%
}
#page-wrapper{
    min-height: 100vh;
    max-height: 100%;
    padding-top: 70px;
    margin: 0 auto;
}
.logo{
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-default {
    background:white;
    
}
.navbar-inner {
    background:transparent;
}
.nav-link{
    color: #0652DD;
}
.carousel-inner img {
position: absolute;
top: 0px;
bottom: 10px;
   
    
}
@media (max-width: 979px){
    #carousel-colors.carousel img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 470px){
    #carousel-colors.carousel img{
        max-width: 300%;
        width: 150%;
        min-height: 300px;
    }
}
.carousel .carousel-item{
    height: 500px;
    
    
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a4b0be' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a4b0be' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
footer{
    text-align: center;
}

